@layer base {

	*:not(pre):not(pre *):not(code)::selection {
		@apply bg-yellow-100 text-gray-800;
	}
	pre::selection,
	pre *::selection,
	code::selection {
		@apply bg-yellow-100 bg-opacity-10;
	}

	* {
		@apply !outline-none;
		-webkit-user-drag: none;
  }

	html,
	body {
		@apply h-full;
  }

  html {
		@apply scroll-smooth; 
  }
  
  body {
		@apply min-h-screen overflow-x-hidden bg-gray-800 text-gray-300 font-en;

		&::-webkit-scrollbar {
			@apply !w-3 bg-gray-900;

			&-thumb {
				@apply bg-gray-700 border-4 hover:bg-gray-500;
			}
		}
	}

	a {
		@apply duration-150;
	}

	b,
	strong {
		@apply font-semibold;
	}

	img {
		@apply w-full max-w-full;
	}
	
  i {
		@apply text-inherit text-base !leading-0;
  }

	svg {
		@apply w-4 h-4 inline-block;
	}

	hr {
		@apply border-0 h-px bg-gray-300;
	}

}
