@import "tailwindcss/base";
@import "css/base/.index.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.content {
	@apply leading-7;
	*:not(:last-child):not(li) { @apply mb-4 }

	h1 { @apply text-4xl font-black sm:text-5xl }
	h2, h3, h4, h5, h6 { @apply mt-8 font-bold }
	h1, h2, h3 { @apply capitalize }
	h2 { @apply text-3xl sm:text-4xl }
	h3 { @apply text-2xl sm:text-3xl }
	h4 { @apply text-xl sm:text-2xl }
	h5 { @apply text-lg sm:text-xl }
	h6 { @apply sm:text-lg }

	h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { text-transform: none;}
	
	img, video { @apply rounded }

	ul, ol { @apply list-inside;
		ul, ol { @apply ml-5 }
	}
	ul { @apply list-disc }
	ol { @apply list-decimal }

	blockquote { @apply relative bg-white bg-opacity-5 p-4 rounded leading-6 text-sm text-gray-300;

		blockquote:not(first-child) { @apply mt-6 }
	
		&::before { @apply absolute -top-2.5 left-2 font-black text-xl opacity-25;
			content: '""';
		}
	}

	hr { @apply opacity-25 }

	em { @apply text-gray-200 }
}

pre[class*=language-]  {
	@apply p-4;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
	@apply bg-white bg-opacity-5 rounded leading-7 text-sm;
}

:not(pre)>code {
	@apply p-1 bg-white bg-opacity-10 rounded text-sm;
}

code, code[class*=language-], pre[class*=language-] {
	font-family: "MonoLisa", Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace
}
